apiVersion: v1
kind: Service
metadata:
  name: order-service-green
  namespace: ecommerce
  labels:
    app: order-service
    version: green
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
  selector:
    app: order-service
    version: green
