apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: ecommerce
  labels:
    app: kafka
spec:
  type: ClusterIP
  ports:
  - port: 9092
    targetPort: 9092
    name: plaintext
  selector:
    app: kafka
