apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-notification-policies
  namespace: ecommerce
data:
  notification-policies.yaml: |
    apiVersion: 1

    policies:
      - orgId: 1
        receiver: ecommerce-webhook
        group_by:
          - grafana_folder
          - alertname
        group_wait: 10s
        group_interval: 30s
        repeat_interval: 5m
        routes:
          - receiver: ecommerce-webhook
            matchers:
              - severity = critical
            group_wait: 5s
            group_interval: 15s
            repeat_interval: 1m
            continue: false
          - receiver: ecommerce-webhook
            matchers:
              - severity = warning
            group_wait: 10s
            group_interval: 30s
            repeat_interval: 5m
            continue: false
